<h2><%= @person.fname %> <%= @person.mname %><%= @person.lname %>
<a href="/people/<%= @person.id %>/edit">(edit)</a></h2>

<%= render 'form' %>

<ul>
	<li>
		<%= link_to "people", people_path %>
		<%= link_to "create person", new_person_path(@person) %>
	</li>
</ul>
